@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css?family=Inter') format('woff2');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }

header {
    background-color: #316396;
    color: white;
    font-family: 'Inter';
}