<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="E:\Nuit_Info_2024\NuitInfo\static\activites.css"> <!-- serveur : static/activites.css -->
    <title>Activites</title>
</head>

<body>
    <header>
        <li><img src="E:\Nuit_Info_2024\NuitInfo\static\img\logo.png" alt="Logo du site"> <!-- serveur :  static/img/logo.png --></li>
        <li><input></li>
    </header>
    <nav>
        <li>Presentation</li>
        <li>Activités</li>
        <li>Notre Vision</li>
        <li>Notre mission</li>
    </nav>
</body>
</html>