<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>Présentation</h1>
    </header>

    <div class="content">
        <h2>La fondation Race For Water</h2>
    </div>

    <footer>
        <a href="footer/product.html">Product</a>
        <a href="footer/features.html">Features</a>
        <a href="footer/resources.html">Resources</a>
        <a href="footer/blog.html">Blog</a>
        <a href="footer/about.html">About</a>
        <a href="footer/support.html">Support</a>
    </footer>
</body>
</html>