<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>Présentation</h1>
    </header>

    <div class="content">
        <h2>La fondation Race For Water</h2>
    </div>

    <footer>
        <a href="footer/product">Product</a>
        <a href="footer/features">Features</a>
        <a href="footer/resources">Resources</a>
        <a href="footer/blog">Blog</a>
        <a href="footer/about">About</a>
        <a href="footer/support">Support</a>
    </footer>
</body>
</html>